@keyframes background-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes load-header {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  50% {
    opacity: 1;
    transform: translateY(35vh);
  }
  75% {
    opacity: 1;
    transform: translateY(35vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes btn-start-animation {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes form-start-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes result-page-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
