$color-mango: #ffbe0b;
$color-orange: #fb5607;
$color-winter-sky: #ff006e;
$color-blue-violet: #8338ec;
$color-azure: #3a86ff;

$color-text-light: #eee;
$color-text-dark: #333;

@mixin background-gradient {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%),
    linear-gradient(327deg, #ff2525 0%, #ffe53b 74%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}
